# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
*.env
.idea/  # Para usuários do PyCharm/IntelliJ
*.sqlite3 # Para ignorar o arquivo de banco de dados SQLite (se você estiver usando um diferente em produção)
/db.sqlite3

# Django
*.log
local_settings.py
media/
static_root/

# macOS
.DS_Store

# Outros
*.sublime-*