{% extends 'financas/base.html' %}

{% block title %}{{ mensagem }} - Meu Bolso{% endblock %}

{% block content %}
    <div class="card shadow-sm">
        <div class="card-header bg-info text-white">
            <h1 class="card-title mb-0">{{ mensagem }}</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <div class="form-text">{{ field.help_text }}</div>
                        {% endif %}
                        {% if field.errors %}
                            <div class="text-danger">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save me-2"></i>Salvar
                </button>
            </form>
        </div>
    </div>

    <p class="mt-3">
        <a href="{% url 'financas:lista_categorias' %}" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left-circle me-2"></i>Voltar para a Lista
        </a>
    </p>
{% endblock %}